{% extends "base.html" %}
{% block content %}
<h1 class="mono mb-3">{{ review.title }}</h1>
<p class="mb-4">{{ review.description }}</p>

{% if subject_name or evaluator_name %}
<div class="subject-info mb-4">
  {% if subject_name %}
  <label class="form-label mono" style="margin-bottom: 0rem; font-weight: 500;"><strong>Субъект оценки: </strong>{{ subject_name }}</label>
  {% endif %}
  <div style="margin: 10px;">
    {% if evaluator_name %}
      <div class="sub-text"><strong>Ревьюер: </strong> {{ evaluator_name }}</div>
    {% endif %}
      <div class="sub-text"><strong>Статус опроса:</strong> {{ survey.status.value }}</div>
    {% if survey.submitted_at %}
      <div class="sub-text"><strong>Отправлен:</strong> {{ survey.submitted_at }}</div>
    {% endif %}
  </div>
  
{% endif %}

<div class="alert alert-warning" role="alert">
  Редактирование отключено. Это режим только для просмотра.
 </div>

<div class="readonly-form">
  {% for q in questions %}
    <div class="q-block mb-3" data-qid="{{ q.question_id }}">
      <label class="form-label mono">{{ loop.index }}. {{ q.question_text }} {% if q.is_required %}*{% endif %}</label>

      {% if q.question_type == 'text' or q.question_type == 'textarea' or q.question_type == 'range_slider' %}
        <input class="form-control brutal-input" type="text" value="{{ q.answer.response_text or '' }}" disabled>

      {% elif q.question_type == 'radio' %}
        {% set selected = (q.answer.selected_option_ids or []) %}
        {% for opt in (q.meta.options or []) %}
          <div class="form-check">
            <input class="form-check-input" type="radio" disabled {% if opt.option_id in selected %}checked{% endif %}>
            <label class="form-check-label">{{ opt.option_text }}</label>
          </div>
        {% endfor %}

      {% elif q.question_type == 'checkbox' %}
        {% set selected = (q.answer.selected_option_ids or []) %}
        {% for opt in (q.meta.options or []) %}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" disabled {% if opt.option_id in selected %}checked{% endif %}>
            <label class="form-check-label">{{ opt.option_text }}</label>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  {% endfor %}
</div>
{% endblock %}

