:root {
  --bg: #03030a;
  --ink: #E5EDFF;
  --accent: #5550e2;
}

body {
  background: var(--bg);
  color: var(--ink);
  font-family: 'Montserrat';
  zoom: 90%;
}
/* cols */
.col-12 {
  margin-bottom: 18px;
}
.g-2 {
  margin-top: 0px;
  margin-bottom: 12px;
  column-gap: 20px;
}
.answers-ui {
  column-gap: 20px;
}
/* placeholder */
.brutal-input::placeholder {
   color:    #8f95a1;
}
/* inputs */
.brutal-input {
  padding: 16px;
  border: 2px solid var(--bg);
  border-color: var(--accent);
  background: #0c0a1a;
}
.brutal-input:hover {
  border-color: var(--accent);
  background: #151229;
}
.brutal-input:active {
  border-color: var(--accent);
  color: var(--ink);
  background: #151229;
}
.brutal-input:focus {
  border-color: var(--accent);
  color: var(--ink);
  background: #151229;
}
/* forms */
.form-label {
  font-size: 1.15em;
  font-family: 'Montserrat';
  font-weight: bold;
  color: var(--ink);
  /* margin-bottom: 2px; */
}
.form-label-sec {
  margin-top: 3px;
  margin-bottom: 3px;
  /* margin-left: 10px; */
  font-family: 'Montserrat';
  font-weight: 400;
  color: var(--ink);
}
.form-control {
  border-radius: 12px;
  color: var(--ink);
}
.form-control:disabled {
    background-color: #0c0a1a;
    opacity: 1;
}
.form-control-md {
  border-color: var(--accent);;
  background-color: #0c0a1a;
  color: var(--ink);
}
.form-control-md:focus {
  border-color: var(--accent);;
  background-color: #0c0a1a;
  color: var(--ink);
}
.form-select {
  border-radius: 12px;
  color: var(--ink);
}
.form-check-colmn {
  margin-top: 0px;
}
.form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 12px;
  height: 57px;
  margin-bottom: 0px;
  margin-top: 2.5px;
  border: 2px solid #544fe0;
  border-radius: 12px;
  background: #0c0a1a;
}
.form-check-input {
  height: 25px;
  width: 25px;
  /* margin: 0; */
  border: 2px solid var(--ink);
  border-radius: 15px;
  --bs-form-check-bg: #0c0a1a;
}
.form-check-input:checked {
  background-color: #403bdb;
  border-color: #403bdb;
}
.form-check-label {
  margin: 0;
  line-height: 1;
}
.btn-close {
  --bs-btn-close-color: #E5EDFF;
}
/* base btn */
.btn-brutal {
  margin: 10px;
  background: var(--accent);
  color: var(--ink);
  font-weight: 500;
  box-shadow: 2px 2px 0 var(--ink);
  transition: transform 140ms ease, box-shadow 140ms ease;
}
.btn-brutal:hover {
  margin: 10px;
  background: #403bdb;
  color: var(--ink);
  box-shadow: 2px 2px 0 var(--ink);
  transition: transform 140ms ease, box-shadow 140ms ease;
}
.btn-brutal:active {
  --bs-btn-active-bg: #241d44;
  color: var(--bg);
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 0 var(--ink);
}
/* sec btn */
.btn-secondary {
  margin: 10px;
  background: #473b86;
  color: var(--ink);
  font-weight: 500;
  box-shadow: 2px 2px 0 var(--ink);
  transition: transform 140ms ease, box-shadow 140ms ease;
}
.btn-secondary:hover {
  margin: 10px;
  background: #514493;
  color: var(--ink);
  box-shadow: 2px 2px 0 var(--ink);
  transition: transform 140ms ease, box-shadow 140ms ease;
}
.btn-secondary:active {
  --bs-btn-active-bg: #241d44;
  color: var(--bg);
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 0 var(--ink);
}
/* btn-open-create-block */
.btn-outline-secondary {
  margin: 10px;
  border-width: 2px;
  border-color: #E5EDFF;
  background: #473b8600;
  color: var(--ink);
  font-weight: 500;
  box-shadow: 2px 2px 0 var(--ink);
  transition: transform 140ms ease, box-shadow 140ms ease;
}
.btn-outline-secondary:hover {
  margin: 10px;
  border-width: 2px;
  border-color: #E5EDFF;
  background: #473b8684;
  color: var(--ink);
  font-weight: 500;
  box-shadow: 2px 2px 0 var(--ink);
  transition: transform 140ms ease, box-shadow 140ms ease;
}
.btn-outline-secondary:active {
  --bs-btn-active-bg: #473b8684;
  border-width: 2px;
  --bs-btn-active-border-color: #E5EDFF;
  color: var(--bg);
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 0 var(--ink);
}
/* btn danger */
.btn-danger {
  margin: 10px;
  background: #861b2a;
  color: var(--ink);
  font-weight: 500;
  box-shadow: 2px 2px 0 var(--ink);
  transition: transform 140ms ease, box-shadow 140ms ease;
}
.btn-danger:hover {
  margin: 10px;
  background: #770917;
  color: var(--ink);
  box-shadow: 2px 2px 0 var(--ink);
  transition: transform 140ms ease, box-shadow 140ms ease;
}
.btn-danger:active {
  --bs-btn-active-bg: #241d44;
  --bs-btn-active-border-color: var(--ink);
  color: var(--bg);
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 0 var(--ink);
}
.q-block {
  padding: 20px;
  margin-bottom: 18px;
  border-radius: 15px;
  border: 2px solid ;
  border-color: #241d4400;
  background: #1f1b38;
}
.mono {
  font-family: Montserrat;
}
.question_label {
  font-weight: bold;
  font-size: large;
}

.page-enter {
  opacity: 0;
  transform: translateX(10px);
}
.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 200ms ease;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transform: translateX(-10px);
  transition: all 200ms ease;
}
/* range */
input[type=range].form-range.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 1.4em + var(--ratio) * (100% - 1.4em));
}

input[type=range].form-range:focus {
  outline: none;
}

/*webkit*/
input[type=range].form-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.4em;
  height: 1.4em;
  border-radius: 1em;
  background: #403BDB;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: calc(max((0.6em - 1px - 1px) * 0.5,0px) - 1.4em * 0.5);
}

input[type=range].form-range::-webkit-slider-runnable-track {
  height: 0.6em;
  border: 1px solid #272246;
  border-radius: 1em;
  background: #272246;
  box-shadow: none;
}

input[type=range].form-range::-webkit-slider-thumb:hover {
  background: #3A36CB;
}

input[type=range].form-range:hover::-webkit-slider-runnable-track {
  background: #272246;
  border-color: #272246;
}

input[type=range].form-range.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#403BDB,#403BDB) 0/var(--sx) 100% no-repeat, #272246;
}

input[type=range].form-range.slider-progress:hover::-webkit-slider-runnable-track {
  background: linear-gradient(#3A36CB,#3A36CB) 0/var(--sx) 100% no-repeat, #272246;
}

/*mozilla*/
input[type=range].form-range::-moz-range-thumb {
  width: 1.4em;
  height: 1.4em;
  border-radius: 1em;
  background: #403BDB;
  border: none;
  box-shadow: 0 0 2px black;
}

input[type=range].form-range::-moz-range-track {
  height: max(calc(0.6em - 1px - 1px),0px);
  border: 1px solid #272246;
  border-radius: 1em;
  background: #272246;
  box-shadow: none;
}

input[type=range].form-range::-moz-range-thumb:hover {
  background: #3A36CB;
}

input[type=range].form-range:hover::-moz-range-track {
  background: #272246;
  border-color: #272246;
}

input[type=range].form-range.slider-progress::-moz-range-track {
  background: linear-gradient(#403BDB,#403BDB) 0/var(--sx) 100% no-repeat, #272246;
}

input[type=range].form-range.slider-progress:hover::-moz-range-track {
  background: linear-gradient(#3A36CB,#3A36CB) 0/var(--sx) 100% no-repeat, #272246;
}

/*ms*/
input[type=range].form-range::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type=range].form-range::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type=range].form-range::-ms-thumb {
  width: 1.4em;
  height: 1.4em;
  border-radius: 1em;
  background: #403BDB;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: 0;
  box-sizing: border-box;
}

input[type=range].form-range::-ms-track {
  height: 0.6em;
  border-radius: 1em;
  background: #272246;
  border: 1px solid #272246;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=range].form-range::-ms-thumb:hover {
  background: #3A36CB;
}

input[type=range].form-range:hover::-ms-track {
  background: #272246;
  border-color: #272246;
}

input[type=range].form-range.slider-progress::-ms-fill-lower {
  height: max(calc(0.6em - 1px - 1px),0px);
  border-radius: 1em 0 0 1em;
  margin: -1px 0 -1px -1px;
  background: #403BDB;
  border: 1px solid #272246;
  border-right-width: 0;
}

input[type=range].form-range.slider-progress:hover::-ms-fill-lower {
  background: #3A36CB;
  border-color: #272246;
}

/* Modal */

.modal-content {
  color: var(--ink);
  background-color: #272246;
}
.modal-header {
  --bs-modal-header-border-color: #514493;
}
.modal-footer {
  --bs-modal-footer-border-color: #514493;
}

/* Mobile responsiveness improvements */
.evaluator-checkbox-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: auto;
  padding: 8px 12px;
  margin-bottom: 8px;
}

.evaluator-checkbox-container .form-check-input {
  flex-shrink: 0;
  margin-right: 8px;
  margin-top: 2px;
}

.evaluator-checkbox-container .form-check-label {
  flex: 1;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 1.3;
  margin: 0;
}

/* Button group responsiveness */
.button-group-responsive {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.button-group-responsive .btn {
  flex: 1;
  min-width: fit-content;
  margin: 5px;
}

/* Required checkbox without text */
.required-checkbox-only {
  display: flex;
  align-items: start;
  justify-content: start;
  /* padding: 0 12px; */
  /* height: 57px; */
  margin-bottom: 0px;
  margin-top: 2.5px;
  /* border: 2px solid #544fe0; */
  border-radius: 12px;
  /* background: #0c0a1a; */
}

.required-checkbox-only .form-check-input {
  height: 25px;
  width: 25px;
  border: 2px solid var(--ink);
  /* border-radius: 15px; */
  --bs-form-check-bg: #0c0a1a;
}

.required-checkbox-only .form-check-input:checked {
  background-color: #403bdb;
  border-color: #403bdb;
}

/* Mobile breakpoint adjustments */
@media (max-width: 768px) {
  .button-group-responsive .btn {
    flex: 1 1 100%;
    margin: 2px 0;
  }
  
  .evaluator-checkbox-container {
    padding: 6px 8px;
  }
  
  .evaluator-checkbox-container .form-check-label {
    font-size: 0.9em;
  }
}