:root {
  --bg: #03030a;
  --ink: #E5EDFF;
  --accent: #5550e2;
}

body {
  background: var(--bg);
  color: var(--ink);
  font-family: 'Montserrat';
  zoom: 90%;
}
/* inputs */
.brutal-input {
  padding: 16px;
  margin-bottom: 18px;
  border: 2px solid var(--bg);
  border-color: var(--accent);
  background: #0c0a1a;
}
.brutal-input:hover {
  border-color: var(--accent);
  background: #151229;
}
.brutal-input:active {
  border-color: var(--accent);
  color: var(--ink);
  background: #151229;
}
.brutal-input:focus {
  border-color: var(--accent);
  color: var(--ink);
  background: #151229;
}
/* forms */
.form-label {
  font-family: 'Montserrat';
  font-weight: bold;
  color: var(--ink);
}
.form-control {
  border-radius: 12px;
  color: var(--ink);
}
.form-select {
  border-radius: 12px;
  color: var(--ink);
}
.form-check-colmn {
  margin-top: 0px;
}
.form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 12px;
  height: 57px;
  margin-top: -9px;
  border: 2px solid #544fe0;
  border-radius: 12px;
  background: #0c0a1a;
}
.form-check-input {
  height: 25px;
  width: 25px;
  margin: 0;
  border: 2px solid var(--ink);
  border-radius: 15px;
  --bs-form-check-bg: #0c0a1a;
}
.form-check-input:checked {
  background-color: #403bdb;
  border-color: #403bdb;
}
.form-check-label {
  margin: 0;
  line-height: 1;
}
/* base btn */
.btn-brutal {
  margin: 10px;
  background: var(--accent);
  color: var(--ink);
  font-weight: 500;
  box-shadow: 2px 2px 0 var(--ink);
  transition: transform 140ms ease, box-shadow 140ms ease;
}
.btn-brutal:hover {
  margin: 10px;
  background: #403bdb;
  color: var(--ink);
  box-shadow: 2px 2px 0 var(--ink);
  transition: transform 140ms ease, box-shadow 140ms ease;
}
.btn-brutal:active {
  --bs-btn-active-bg: #241d44;
  color: var(--bg);
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 0 var(--ink);
}
/* sec btn */
.btn-secondary {
  margin: 10px;
  background: #473b86;
  color: var(--ink);
  font-weight: 500;
  box-shadow: 2px 2px 0 var(--ink);
  transition: transform 140ms ease, box-shadow 140ms ease;
}
.btn-secondary:hover {
  margin: 10px;
  background: #514493;
  color: var(--ink);
  box-shadow: 2px 2px 0 var(--ink);
  transition: transform 140ms ease, box-shadow 140ms ease;
}
.btn-secondary:active {
  --bs-btn-active-bg: #241d44;
  color: var(--bg);
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 0 var(--ink);
}
/* btn danger */
.btn-danger {
  margin: 10px;
  background: #861b2a;
  color: var(--ink);
  font-weight: 500;
  box-shadow: 2px 2px 0 var(--ink);
  transition: transform 140ms ease, box-shadow 140ms ease;
}
.btn-danger:hover {
  margin: 10px;
  background: #770917;
  color: var(--ink);
  box-shadow: 2px 2px 0 var(--ink);
  transition: transform 140ms ease, box-shadow 140ms ease;
}
.btn-danger:active {
  --bs-btn-active-bg: #241d44;
  --bs-btn-active-border-color: var(--ink);
  color: var(--bg);
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 0 var(--ink);
}
.q-block {
  padding: 20px;
  margin-bottom: 18px;
  border-radius: 15px;
  border: 2px solid ;
  border-color: #241d4400;
  background: #1f1b38;
}
.mono {
  font-family: Montserrat;
}
.question_label {
  font-weight: bold;
  font-size: large;
}

.page-enter {
  opacity: 0;
  transform: translateX(10px);
}
.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 200ms ease;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transform: translateX(-10px);
  transition: all 200ms ease;
}
